.login-form {
    padding: 32px 32px 4px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
}

    .login-form .title {
        min-width: 300px;
    }

    .login-form .input-form {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        position: relative;
    }

    .login-form .input-form .error-message {
        margin: 0px;
        margin-top: 0px;
    }

    .login-form .input-form .error-message:first-child {
        margin-top: 4px;
    }

    .login-form .input-error {
        color: red;
        font-size: 14px;
        animation: fade-in 0.4s ease;
        min-height: 12px;
        display: block;
    }

    .login-form .error-icon {
        color: red;
        font-size: 13px;
    }

    .login-form .error-message {
        color: red;
        font-size: 13px;
    }

.login-buttons-row {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
}

.cached-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

    .cached-container button {
        border-radius: 2px;
        text-align: left;
    }

    .cached-container button:last-child {
        align-self: flex-end;
    }

.profile-img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
