.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

    .container .link-button {
        align-self: flex-end;
    }

    .container .clients-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .container .client-item {
        width: 100%;
    }

        .container .client-item table {
            width: 100%;
        }

        .container .client-item table th {
            width: 120px;
            text-align: left;
            vertical-align: middle;
            padding-right: 20px;
            font-weight: bold;
        }

        .container .client-item table td {
            padding-right: 20px;
        }