.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

    .container h4 {
        margin-bottom: 20px;
    }

    .container .details-section {
        margin-top: 24px;
    }

    .container .seperator {
        width: 4%;
    }

    .container .details {
        width: 48%;
    }

.inner {
    display: flex;
    flex-direction: column;
}